<div class="row">
    <div class="col-md-8 jumbotron">

        <div class="row">
            <div class="col-md-1">
                <h3>
                    <button onclick="history.back()"><i class="fa fa-undo"></i></button>
                </h3>
            </div>
            <div class="col-md-10">
                <div ui-view="">
                    <h3>
                        What do you want to sell?
                    </h3>
                    <button type="button" class="btn btn-default btn-lg btn-block" ng-class="{'btn-primary': hover0}"
                            ng-mouseenter="hover0 = true" ng-mouseleave="hover0 = false"
                            ui-sref="embark.stories.lemonade">
                        Lemonade
                    </button>
                    <button type="button" class="btn btn-default btn-lg btn-block" ng-class="{'btn-primary': hover1}"
                            ng-mouseenter="hover1 = true" ng-mouseleave="hover1 = false"
                            ui-sref="embark.stories.smoothie">
                        Smoothies
                    </button>
                    <button type="button" class="btn btn-default btn-lg btn-block" ng-class="{'btn-primary': hover2}"
                            ng-mouseenter="hover2 = true" ng-mouseleave="hover2 = false"
                            ui-sref="embark.stories.donuts">
                        Donuts
                    </button>
                </div>

                <!--<div ui-view="colorsMenu"></div>-->

            </div>
        </div>
    </div>

    <div ui-view="sidebar"></div>
</div>
