<div class="navbar navbar-default" role="navigation" ng-controller="TitleBarCtrl">
    <div class="container">

        <div class="navbar-header">
            <a href="/">
                <!--<img src="images/logo.png" class="titlebar-logo">-->
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul ng-cloak class="nav navbar-nav navbar-left">
                <!--
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href ng-click="tour()">Feature tour</a></li>
                        <li ng-class="{active: isActive('/contact/')}"><a href="/contact">Contact Us</a></li>
                    </ul>
                </li>
                -->
                <li ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
                <li ng-class="{active: isActive('/embark')}"><a href="/embark">Embark</a></li>
            </ul>
        </div>
    </div>
</div>
