griffe>=0.48
libcst;platform_system!='Emscripten'
libcst==1.6.0;platform_system=='Emscripten'
numpy;platform_system!='Emscripten'
numpy==2.2.5;platform_system=='Emscripten'
pydantic;platform_system!='Emscripten'
pydantic==2.10.6;platform_system=='Emscripten'
pydantic_core;platform_system!='Emscripten'
pydantic_core==2.27.2;platform_system=='Emscripten'
pygments==2.19.1;platform_system=='Emscripten'
rich>=13.0
